   *{
			padding: 0;
			margin: 0;
		}
		body{
	    	background-color: rgb(222,222,222);
	    }
	    .container{
	    	float: left;
	    	width: 70%;
	    }
	    .side{
	    	float: left;
	    	width: 30%;
	    }
	    #first{

		}
		#head1{
			height: 60px;
			background-color: rgb(51,51,51);

		}
		#head1 img{
			height: 40px;
		    margin: 10px 0px 5px 15px;
		    float: left;

		}

		#head1 li{
			float: right;
			list-style-type: none;
		   
		}
		#head1 a{
			margin-left: 15px;
			font-size: 15px;
	        text-align: center;
	        text-decoration: none;
	        color:rgb(242,242,242);
	        line-height: 60px;
	        display: block;
		}
		.artical1,
		.artical2,
		.artical3,
		.picture
		{
			margin: 10px;
			padding: 15px;
			background-color: rgb(255, 255, 255);
			box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); 
			
		}
		.biaoge{
			margin: 10px 10px 10px 10px;
			padding: 15px;
			background-color: rgb(255, 255, 255);
			box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); 
			
		}
		.artical1>p:nth-child(3),
		.artical2>p:nth-child(3),
		.artical3>p:nth-child(3){
			font-size: 14px;
		    color: rgb(111, 111, 111);
		    line-height: 40px;
		}
		.artical1 h2 p,
		.artical2 h2 p,
		.artical3 h2 p{
			color: black;
			line-height: 40px;
			font-weight: 900;
		}
		.artical1>p:nth-of-type(2),
		.artical2>p:nth-of-type(2){
			text-indent: 2em;
		    
		}
		.artical2 li{
			list-style: none;
		}

		/*图片部分*/
		.picture{
			overflow: hidden;
		}
		.picture h2{
			font-weight: bolder;  /*增粗文字*/
			font-size: 40px;
		
		}

		.lala{
			float: left;
			margin: 40px;
			border:1px solid #999;
		}
		.picture img{
			margin: 10px;
			font-weight: bold;  /*增粗文字*/
		}

		.picture p{
			text-align: center;
		}
		#jiacu{
			font-weight: bold;
		}
		.artical3 li{
			list-style-type: decimal;
			padding: 5px;
			margin-left:50px; 

		}
		.artical3 ul{
			padding: 20px;
		}
		.artical3 table{
			width: 100%;
			border: 1px solid  rgb(184,184,184);
			border-collapse: collapse;
			
			
		}
		
		.artical3 td{
			border: 1px solid rgb(184,184,184);
			
			padding: 5px;

		}
		#third{
			background-color: rgb(161,163,156);

		}
		#first{
		
		background-color: rgb(51,51,51);
	    }
	    #first td{
	    	color: white;
	    }
	    .biaoge{
	    	/*padding-left: 20px;*/

	    }
	    .biaoge h2{
	    	border-left: 5px solid rgb(204,204,204);
	    	padding-left: 10px;
	    	font-weight: 900;
	    }
	   .biaoge h3{
	   		font-weight: 900;
	   }
	    #buju2{
	    	margin:0 auto;
	    }
	   .biaoge  textarea {
		width: 100%;
		height: 100px;
		vertical-align: top;
	   }
	   .biaoge p{
	   	  color: rgb(204,204,204);
	   }
	   .biaoge input[name="submit"]{
		   	width: 100%;
			margin-top: 5px;
			padding: 5px;
			color: rgb(255, 255, 255);
			background-color: rgb(51, 85, 208);
			border: none;
			border-radius: 5px;
	   }/*button元素的改变*/
	   
	   .biaoge td:nth-of-type(1) {
		width: 30%;
		padding: 5px;
		padding-right: 15px;
		text-align: right;
	    }  /*让标签元素整体偏右*/


	  /* #buju{
	   	 border:1px solid black;
	   }
	   #buju td{
	   	border:1px solid black;
	   }*/
	   .foot{
	   	background-color: black;
	   	height: 100px;
	   	line-height: 100px;
	   	width: 100%;
	   	overflow: hidden;

	   }
	   .foot p{
	   	color: white;
	   text-align: center;/*使文字居中*/

	   }
